/* general */
html{
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: 'M PLUS 1p', sans-serif;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
  text-decoration: underline;
}

/* Overwrite */
.uk-container-small {
  max-width: 980px;
}

/* common */
.section-title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2.4rem;
}
.section-about li:nth-child(n+2),
.block-speakers-note > li:nth-child(n+2),
.block-ticket-note > li:nth-child(n+2),
.block-schedule-note > li:nth-child(n+2) {
  margin-top: 5px;
}
.section-speaker h3,
.section-schedule h3,
.section-sponsors h3 {
  font-family: 'M PLUS 1p', sans-serif;
}

/* gnav */
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(250,250,250,1) 5%,rgba(250,250,250,0.9) 30%,rgba(255,255,255,0.8) 55%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0.6) 90%,rgba(255,255,255,0) 100%)
}
.uk-navbar-nav>li>a {
  color: #333;
}
.block-gnav-btn-ticket a {
  color: #fff;
  text-decoration: none;
}


/* header */
.section-header {
  background: url('../img/kv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
}
.section-header-detail {
  background: url('../img/kv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1030px) {
  .section-navbar li a {
    padding: 0 10px;
  }
}

/* ABOUT */
.section-about {
  background: #edede5;
}
.block-table {
  background: #fff;
}
.block-table.uk-table th {
  color: #333;
  text-align: center;
  vertical-align: middle;
  min-width: 4rem;
}
.block-about-feature span {
  display: block;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #ccc;
}
.block-feature span {
  display: block;
  background: #ccc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* SPEAKER */
.section-speakers [class*=uk-align] {
  margin-bottom: 20px;
}
.section-speakers .uk-text-small {
  font-size: .76rem;
}

/* ACCESS */
.section-access {
  background: #ed6b67;
  color: #fff;
  padding-bottom: 0;
}
.section-access h2 {
  color: #fff;
}
.block-access-venue {
  font-size: 1.2rem;
}

/* SPONSORS */
.section-sponsors ul {
  padding-left: 0;
}
.section-sponsors li {
  list-style: none;
}
.section-sponsors li:first-child {
  margin-left: 0;
}
.section-sponsors li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .section-sponsors ul {
    display: grid;
    text-align: center;
  }
}

/* CONTACT */
.section-contact {
  background-color: #edede5;
}
.section-contact .uk-description-list>dt {
  text-transform: inherit;
  font-size: 1rem;
  font-weight: 700;
}
.section-contact .uk-description-list>dd {
  font-size: 1.1rem;
}

/* PAGES */

/* SESSION */

.section-session .uk-label,
.section-session .uk-description-list>dt {
  text-transform: none;
}
.section-session .uk-description-list>dt:nth-child(n+2) {
  margin-top: 10px;
}
.section-session .uk-card-title {
  font-size: 1rem;
}
.section-session dd {
  font-size: .76rem;
  margin-top: 5px;
}
.section-session .uk-label {
  color: #333;
  font-weight: bold;
}
.uk-label-theatre {
  background: #fff2cc;
}
.uk-label-w {
  background: #c9daf8;
}
.uk-label-next1 {
  background: #f4cccc;
}
.uk-label-next2 {
  background: #d9ead3;
}
.uk-label-next3 {
  background: #d9d2e9;
}
.block-cos {
  font-size: 0.8rem;
}

/* SESSION DETAIL */
.section-detail .uk-label {
  color: #333;
}

/* CODE OF CONDUCT */
.section-coc .uk-description-list>dt {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
